{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    }, "rules": {
        "space-before-blocks": [0, "always"],
        "valid-jsdoc": [1, {
            "requireReturn": false
        }],
        "no-unreachable": 1,
        "no-regex-spaces": 2,
        "no-shadow": 1,
        "sap-no-localstorage": 2,
        "no-mixed-requires": [0, false],
        "quotes": [1, "double", "avoid-escape"],
        "space-in-brackets": [0, "never"],
        "no-return-assign": 1,
        "max-len": [1, 200],
        "sap-no-ui5base-prop": 2,
        "spaced-comment": 0,
        "no-mixed-spaces-and-tabs": [0, false],
        "no-param-reassign": 1,
        "sap-no-location-reload": 2,
        "strict": 0,
        "no-sync": 0,
        "eol-last": 0,
        "generator-star-spacing": 0,
        "no-new-func": 2,
        "constructor-super": 0,
        "no-eval": 2,
        "new-parens": 1,
        "yoda": [1, "never"],
        "no-delete-var": 1,
        "spaced-line-comment": [0, "always"],
        "no-ternary": 0,
        "sap-usage-basemastercontroller": 1,
        "no-nested-ternary": 1,
        "no-dupe-args": 2,
        "complexity": [1, 15],
        "no-control-regex": 2,
        "no-invalid-regexp": 2,
        "sap-no-ui5-prop-warning": 1,
        "no-catch-shadow": 1,
        "no-iterator": 1,
        "no-with": 2,
        "sap-no-absolute-component-path": 2,
        "no-spaced-func": 1,
        "curly": [1, "all"],
        "no-debugger": 2,
        "comma-style": 0,
        "no-extend-native": 1,
        "no-constant-condition": 2,
        "no-redeclare": 1,
        "one-var": 0,
        "radix": 1,
        "sort-vars": 0,
        "no-new": 1,
        "no-obj-calls": 2,
        "sap-no-br-on-return": 2,
        "sap-no-override-rendering": 2,
        "sap-no-override-storage-prototype": 2,
        "accessor-pairs": 0,
        "handle-callback-err": 0,
        "space-before-function-parentheses": 0,
        "space-before-function-paren": 0,
        "lines-around-comment": 0,
        "sap-no-proprietary-browser-api": 1,
        "sap-no-element-creation": 2,
        "dot-location": 0,
        "no-bitwise": 0,
        "wrap-iife": [1, "any"],
        "comma-spacing": 0,
        "no-floating-decimal": 0,
        "sap-no-global-selection": 1,
        "no-underscore-dangle": 0,
        "space-unary-ops": 0,
        "no-restricted-modules": 0,
        "no-alert": 2,
        "sap-no-global-variable": 2,
        "no-script-url": 1,
        "func-style": [0, "declaration"],
        "max-depth": [1, 4],
        "no-undefined": 0,
        "no-unexpected-multiline": 0,
        "sap-no-dom-access": 1,
        "no-dupe-keys": 2,
        "no-loop-func": 1,
        "no-shadow-restricted-names": 1,
        "sap-no-jquery-device-api": 2,
        "array-bracket-spacing": 0,
        "guard-for-in": 1,
        "no-process-exit": 0,
        "vars-on-top": 0,
        "no-extra-semi": 1,
        "sap-message-toast": 1,
        "space-after-function-name": 0,
        "no-native-reassign": 2,
        "sap-no-global-define": 2,
        "sap-ui5-no-private-prop": 1,
        "no-process-env": 0,
        "comma-dangle": 1,
        "no-extra-parens": 1,
        "no-else-return": 0,
        "no-array-constructor": 1,
        "use-isnan": 2,
        "sap-no-location-usage": 1,
        "no-multi-str": 1,
        "object-shorthand": 0,
        "sap-no-encode-file-service": 1,
        "no-throw-literal": 1,
        "sap-timeout-usage": 1,
        "no-var": 0,
        "consistent-return": 1,
        "no-func-assign": 2,
        "no-self-compare": 1,
        "operator-assignment": 0,
        "no-new-wrappers": 1,
        "padded-blocks": 0,
        "no-negated-in-lhs": 2,
        "space-after-keywords": [0, "always"],
        "sap-no-history-manipulation": 1,
        "no-implied-eval": 1,
        "no-div-regex": 0,
        "no-void": 0,
        "sap-no-dom-insertion": 1,
        "no-extra-bind": 1,
        "no-unneeded-ternary": 0,
        "generator-star": 0,
        "no-plusplus": 0,
        "no-ex-assign": 2,
        "space-in-parens": [0, "never"],
        "newline-after-var": 0,
        "default-case": 0,
        "no-lonely-if": 0,
        "no-inner-declarations": [2, "functions"],
        "max-statements": [1, 40],
        "valid-typeof": 2,
        "sap-no-navigator": 2,
        "key-spacing": [0, {
            "beforeColon": false,
            "afterColon": true
        }],
        "no-inline-comments": 0,
        "semi": 2,
        "no-empty-character-class": 1,
        "no-empty": 1,
        "no-proto": 1,
        "sap-forbidden-window-property": 1,
        "no-new-require": 0,
        "sap-no-hardcoded-url": 2,
        "object-curly-spacing": 0,
        "no-continue": 0,
        "sap-no-dynamic-style-insertion": 2,
        "no-cond-assign": 2,
        "computed-property-spacing": 0,
        "sap-cross-application-navigation": 1,
        "sap-no-exec-command": 2,
        "no-extra-strict": 0,
        "no-octal": 1,
        "no-new-object": 1,
        "func-names": 0,
        "sap-no-sessionstorage": 2,
        "no-trailing-spaces": 0,
        "no-irregular-whitespace": 2,
        "consistent-this": [1, "that"],
        "camelcase": 1,
        "space-infix-ops": 1,
        "no-fallthrough": 1,
        "no-warning-comments": [1, {
            "terms": ["todo", "fixme", "xxx"],
            "location": "start"
        }],
        "no-octal-escape": 1,
        "no-unused-vars": [1, {
            "args": "none",
            "vars": "all"
        }],
        "no-sparse-arrays": 2,
        "operator-linebreak": 0,
        "no-sequences": 1,
        "no-undef": 2,
        "eqeqeq": 1,
        "indent": 0,
        "sap-no-localhost": 1,
        "no-multi-spaces": 0,
        "sap-no-hardcoded-color": 2,
        "new-cap": [1, {
            "capIsNew": false
        }],
        "no-console": 2,
        "no-multiple-empty-lines": [0, {
            "max": 2
        }],
        "max-nested-callbacks": [0, 2],
        "sap-no-global-event": 2,
        "no-extra-boolean-cast": 1,
        "block-scoped-var": 0,
        "no-labels": 1,
        "no-eq-null": 1,
        "no-path-concat": 0,
        "no-label-var": 1,
        "no-use-before-define": 1,
        "semi-spacing": 1,
        "linebreak-style": [2, "unix"],
        "no-caller": 2,
        "no-lone-blocks": 1,
        "wrap-regex": 0,
        "no-unused-expressions": 2,
        "dot-notation": 1,
        "no-undef-init": 1,
        "brace-style": [0, "1tbs"],
        "no-duplicate-case": 2,
        "prefer-const": 0,
        "no-empty-class": 0,
        "no-this-before-super": 0
    },
    "globals": {
        "com": true,
        "oData": false,
        "sakp": false,
        "fin": true,
        "cloud": true,
        "bsuite": false,
        "cordova": false,
        "ui": true,
        "webide": false,
        "asyncTest": false,
        "i2d": true,
        "gltrade": false,
        "drilldown": true,
        "opaTest": false,
        "ux": true,
        "test": false,
        "$": false,
        "module": false,
        "ai": false,
        "notEqual": false,
        "notDeepEqual": false,
        "throws": false,
        "ssuite": false,
        "deepEqual": false,
        "s2p": false,
        "Promise": false,
        "ehs": false,
        "sinon": false,
        "stop": false,
        "util": true,
        "slo": false,
        "mdm": false,
        "mytravelandexpense": false,
        "strictEqual": false,
        "cec": false,
        "cus": false,
        "notStrictEqual": false,
        "fscm": false,
        "fm": true,
        "nw": true,
        "shcm": false,
        "fcg": true,
        "URI": false,
        "fs": true,
        "retail": false,
        "d3": false,
        "hcm": false,
        "oil": true,
        "assert": false,
        "hpa": false,
        "ok": false,
        "sap": true,
        "QUnit": false,
        "cross": true,
        "srm": false,
        "equal": false,
        "expect": false,
        "jQuery": false,
        "publicservices": true,
        "uxcc": false,
        "equals": false,
        "tl": false,
        "travel": true,
        "let": false,
        "google": false
    },
    "env": {
        "node": false,
        "browser": true,
        "amd": true,
        "mocha": true,
        "jasmine": false
    },
    "customRulesPath": null
}
